*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, green,white,rgb(0, 140, 255));
    position: relative;
}

.corpo{
    height: 90vh;
    position: relative;
    display: block;
    overflow: hidden;


}
@keyframes surgir {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.corpo img{
    position: absolute;
}

.casa{
    width: 200px;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%);
}
.arvore1{
    width: 150px;
    bottom: 40px;
    left: -40px;
    
}
.arvore{
    width: 150px;
    bottom: 110px;
    left: 200px;
    
}
.arvore2{
    width: 150px;
    bottom: 50px;
    right: -30px;
    

}
.grama{
    width: 110%;
    bottom: 0Px;
    
}
.cercaleft{
    width: 200px;
    bottom: 40px;
    left: -100px

}
.cercaright{
    width: 200px;
    bottom: 40px;
    right: -100px

}


.trator{
    width: 250px;
    bottom: 0px;
    animation: carro 10s linear forwards;
}


@keyframes carro {
    0% {
        right: -250px;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        right: 500px;
        opacity: 0;
    }
}

.nuvem1{
    width: 150px;
    top: 80px;
    animation: nuvem1 15s linear forwards infinite;

    
}
.nuvem2{
    width: 90px;

    top: 20px;
    animation: nuvem2 25s linear forwards infinite;
    
}.nuvem3{
    width: 50px;
    top: 10px;
    animation: nuvem3 40s linear forwards infinite;
    
}

@keyframes nuvem1 {
    0% {
        left: -150px;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        left: 500px;
        opacity: 1;
    }
}
@keyframes nuvem2 {
    0% {
        left: -150px;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        left: 500px;
        opacity: 1;
    }
}
@keyframes nuvem3 {
    0% {
        left: -150px;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        left: 500px;
        opacity: 1;
    }
}

.loise{
    width: 150px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    animation: aparecer 5s linear forwards;
}
.ovelha{
    width: 100px;
    bottom: 0;
    right: 50px;
    animation: aparecer 4s linear forwards;
;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}