@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.621);
    
    position: relative;
}
.frente{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, green,white,rgb(0, 140, 255));
    position: relative;
    display: block;
    overflow: hidden;
    

    
}

.local{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, green,white,rgb(0, 140, 255));
    position: relative;
    display: block;
    overflow: hidden;
    display: none;
}
.local img{
    position: absolute;
   
}
.local h1{
    font-variant: small-caps;
}
.local p{
    font-variant: small-caps;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.1em;
}
.txt{
    text-align: center;
}

.localizacaoimg{
    position: absolute;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.485);
    background-color: rgba(255, 255, 255, 0.707);
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.local button{
    padding: 15px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
}
.convite {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    position: absolute;
   width:350px;
   height: 250px;
    background-image: url('../img/envelope.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: surgir 4s ease-in-out;
    
}
.convite button{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
}
.frente img{
    position: absolute;
}

.corpo{
    background-image: linear-gradient(to top, green,white,rgb(0, 140, 255));
    height: 90vh;
    position: relative;
    display: none;
    overflow: hidden;


}
@keyframes surgir {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes subirGirar {
  from {
    opacity: 0;
   transform: rotate(360deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deeg);

  }
}
@keyframes subirGirar2 {
  from {
    opacity: 0;
   transform: rotate(360deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deeg);

  }
}
.informacoes{
    display: flex;
    position: relative;
    flex-direction: column;
  
    width: 320px;
    height: 300px;
    left: 50%;
    transform: translate(-50%);
}
.nome{
    color: white;
    font-family: "Tangerine", cursive;
    position: absolute;
    font-size: 2.2em;
    transform: translate(-50%);
    left: 50%;
    top: 50px;
    z-index: 9;
    animation: subirGirar 1.5s ease-out forwards;
    text-shadow: 1px 1px 1px black;
}
.idade{
    position: absolute;
    background-image: url('../img/fita.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
    animation: subirGirar 1.5s ease-out forwards;

    z-index: 9;
}
.texto{
    font-family: "Tangerine", cursive;
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 160px;
    animation: subirGirar2 1.5s ease-out forwards;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;

}
.dia{
    position: absolute;
    font-size: 1.1em;
    text-align: center;
    border-bottom: dashed 1px black;
    left: 50%;
    transform: translate(-50%);
    top: 230px;
    animation: subirGirar 1.5s ease-out forwards;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px  black,
    1px -1px black,
    -1px 1px black,
    -1px 1px black;
}
.flor-top{
    width: 120px;
    top: -20px;
    transform: rotate(20deg);
}
.flor-left{
    width: 150px;
    bottom: -20px;
    left: -20px;
}
.flor-right{
    width: 150px;
    top: -7px;
    right: -20px;
    transform: rotate(20deg);
    
}
.presenca{
    width: 70px;
    bottom: -70px;
    left: 70px;
     animation: pulsar 2s linear infinite;
     z-index: 99;
}
.localizacao{
    width: 70px;
    bottom: -70px;
    right: 70px;
    animation: pulsar 2s linear infinite;
    z-index: 99;
}
@keyframes pulsar {
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}





.corpo img{
    position: absolute;
}

.casa{
    width: 200px;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%);
}
.arvore1{
    width: 150px;
    bottom: 40px;
    left: -40px;
    
}
.arvore{
    width: 150px;
    bottom: 110px;
    left: 200px;
    
}
.arvore2{
    width: 150px;
    bottom: 50px;
    right: -30px;
    

}
.grama{
    width: 110%;
    bottom: 0Px;
    
}
.cercaleft{
    width: 200px;
    bottom: 40px;
    left: -100px

}
.cercaright{
    width: 200px;
    bottom: 40px;
    right: -100px

}


.trator{
    width: 250px;
    bottom: 0px;
    animation: carro 10s linear forwards;
}


@keyframes carro {
    0% {
        right: -250px;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        right: 500px;
        opacity: 0;
    }
}

.nuvem1{
    width: 150px;
    top: 80px;
    animation: nuvem1 15s linear forwards infinite;

    
}
.nuvem2{
    width: 90px;

    top: 20px;
    animation: nuvem2 25s linear forwards infinite;
    
}.nuvem3{
    width: 50px;
    top: 10px;
    animation: nuvem3 40s linear forwards infinite;
    
}

@keyframes nuvem1 {
    0% {
        left: -150px;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        left: 500px;
        opacity: 1;
    }
}
@keyframes nuvem2 {
    0% {
        left: -150px;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        left: 500px;
        opacity: 1;
    }
}
@keyframes nuvem3 {
    0% {
        left: -150px;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        left: 500px;
        opacity: 1;
    }
}

.loise{
    width: 150px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    animation: aparecer 5.2s linear forwards;
}
.ovelha{
    width: 100px;
    bottom: 0;
    right: 50px;
    animation: aparecer 4s linear forwards;
;
}
.porco{
    bottom: 0;
    width: 100px;
    left: 45px;
    animation: aparecer 6.5s linear forwards;
}
.vaca{
    bottom: 50px;
    left: -30px;
    width: 110px;
    animation: aparecer 7.5s linear forwards;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}